/target/
!.mvn/wrapper/maven-wrapper.jar
target
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## mvt data
*.pbf

/ientity
/jar